<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCflghbWII4J1s-gMrVOZ2kR7OQOEXbtEg</string>
	<key>GCM_SENDER_ID</key>
	<string>187826260708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LetsCodeBunnies.EcoImpact</string>
	<key>PROJECT_ID</key>
	<string>ecoimpact-54a08</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoimpact-54a08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187826260708:ios:d8ed4a954501e70600faf1</string>
</dict>
</plist>